# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
.env

# Uploads
backend/uploads/

# Node
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.pytest_cache/
.cache/

# Docker
*.pid